# 檔案一 customer.csv (基本資料)

In [1]:
import pandas as pd
import numpy as np
import random
import string

In [2]:
col = ['Date','Binary','Age','UniqueKey','Rank','Tag']
df = pd.DataFrame(data=[],columns=col)

In [3]:
df

Empty DataFrame
Columns: [Date, Binary, Age, UniqueKey, Rank, Tag]
Index: []

In [4]:
seq = 'MF'
b = [random.choice(seq) for p in range(1, 301)]
df['Binary'] = b

a = [random.randint(1, 99) for p in range(1,  301)]
df['Age'] = a

r = [random.randint(1, 5) for p in range(1,  301)]
df['Rank'] = r

t = [''.join(random.sample(string.ascii_letters, 3)).upper() for p in range(1, 301)]
df['Tag'] = t

In [5]:
x1 = [''.join(random.sample(string.ascii_letters, 5)).upper() for p in range(1,  301)]
x2 = [''.join(random.sample(string.ascii_letters, 5)).lower() for p in range(1,  301)]
x3 = [str(random.randint(10, 99)) for p in range(1, 301)]
df['UniqueKey1'] = x1
df['UniqueKey2'] = x2
df['UniqueKey3'] = x3
df['UniqueKey'] = df['UniqueKey1'] + df['UniqueKey2'] + df['UniqueKey3']

In [6]:
import time
import random
a1 = (2019,1,1,0,0,0,0,0,0)       #設定開始日期時間
a2 = (2021,12,20,23,59,59,0,0,0)  #設定結束日期時間
start = time.mktime(a1)  #生成開始時間
end = time.mktime(a2)   #生成結束時間
#隨機生成10個日期字串
list5 = []
for p in range(1,  301):
    for i in range(1):
        t = random.randint(start,end)  #在開始和結束時間戳中隨機取出一個
        date_touple = time.localtime(t)     #將時間戳生成時間
        date = time.strftime("%Y-%m-%d",date_touple) #將時間元組轉成格式化字串（1976-05-21）
        list5.append(date)
df['Date'] = list5

In [7]:
df = df.drop(['UniqueKey1','UniqueKey2','UniqueKey3'],axis=1)

In [8]:
df = df.sort_values(by='Date')
df.head()

           Date Binary  Age     UniqueKey  Rank  Tag
4    2019-01-10      F   25  OWXZTjfeox77     4  APX
289  2019-01-16      F   55  ISAVZrzilf47     4  TIO
173  2019-01-16      M   67  JHDPXsthkt59     2  MWP
265  2019-01-17      M   69  OJAXKyesqo50     5  LNG
155  2019-01-24      F    8  LJDPIpwbfa44     2  LKE

In [9]:
df.dtypes

Date         object
Binary       object
Age           int64
UniqueKey    object
Rank          int64
Tag          object
dtype: object

In [10]:
df.shape

(300, 6)

In [11]:
df.isnull().sum()

Date         0
Binary       0
Age          0
UniqueKey    0
Rank         0
Tag          0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df.to_csv('customer.csv',index=False)

# 檔案二 amountdata.xlsx（金額）

In [14]:
col2 = ['UniqueKey','Amount']
df2 = pd.DataFrame(data=[],columns=col2)

aa = ["{:,}".format(random.randint(10000, 1000000)) for p in range(1,  301)]
df2['Amount'] = aa
df2['UniqueKey'] = df['UniqueKey']

df2.to_excel('amountdata.xlsx',index=False)

In [15]:
df2.isnull().sum()

UniqueKey    0
Amount       0
dtype: int64

In [16]:
df2.duplicated().sum()

0

In [17]:
df2.head()

      UniqueKey   Amount
0  YVUNHhavtx39  980,381
1  MGURHvhuow40  686,925
2  TACJDwnrjv17  383,088
3  UECHEmksva43  380,673
4  OWXZTjfeox77  611,608